.cart-article {
  font-family: 'Arial', sans-serif;
  width: 80%;
  margin: auto;
  padding: 1em;
  border: 15px solid #802a2a;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.cart-article button {
  font-family: 'Arial', sans-serif;
	background-color:#61E8EB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#040404;
	font-family:Arial;
	font-size:21px;
	padding:10px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #219496;
}

.cart-article button:hover {
  background-color: yellow;
}

.cart-article > div {
  min-height: 200px;
}

.cart-article #back_menu {
  float: left;
}

.cart-article h1 {
  font-family: 'Jomhuria', serif;
  font-weight: bold;
  font-size: 5em;
  color: #802a2a;
}



.cart-table thead tr {
  border-bottom: 3px solid #802a2a;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cart-table thead th {
  width: 8em;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.cart-table .food-container tr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cart-table .food-container tr td {
  width: 8em;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
}

#place_order {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  font-family: 'Arial', sans-serif;

  width: auto;

}

#place_order textarea {
  width: 600px;
  margin-bottom: 1em ;
}
