

.menu-item {
  background-color:blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 400px;
  width: 25%;
  flex-grow: 1;
}

.menu-header {
  font-family: 'Jomhuria', serif;
  font-size: 48px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
