

.menu-item {
  background-color:rgb(206, 202, 202);
  border: 3px solid #61E8EB;
  border-radius: 12px;
  display: flex;
  filter: drop-shadow(10px 10px 4px rgb(140, 136, 136));
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 430px;
  width: 25%;
  flex-grow: 1;
}

.menu-item:hover{
  filter: drop-shadow(10px 10px 4px #49b6b8);
}

.search-item:hover{
  filter: drop-shadow(10px 10px 4px #49b6b8);
}

.search-item {
  background-color:rgb(206, 202, 202);
  border: 3px solid #61E8EB;
  border-radius: 12px;
  display: flex;
  filter: drop-shadow(10px 10px 4px rgb(140, 136, 136));
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 430px;
  width: 25%;
}

.food-image {
  max-width: 400px;
}

.menu-header {
  font-family: 'Jomhuria', serif;
  font-size: 58px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.search-header {
  font-family: 'Jomhuria', serif;
  font-size: 58px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.menu-footer {
  background-color:rgb(206, 205, 202);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  flex-grow: 1;
}

.search-footer {
  background-color:rgb(206, 205, 202);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
}

.confirm {
	background-color:#61E8EB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#040404;
	font-family:Arial;
	font-size:17px;
	padding:10px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #219496;
}
.confirm:hover {
	background-color:#219496
}
.confirm:active {
	position:relative;
	top:1px;
}

.more-info-button {
	background-color:#61E8EB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#040404;
	font-family:Arial;
	font-size:21px;
	padding:10px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #219496;
}
.more-info-button:hover {
	background-color:#219496
}
.more-info-button:active {
	position:relative;
	top:1px;
}

.add-to-cart {
  background-color:#61E8EB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#040404;
	font-family:Arial;
	font-size:21px;
	padding:10px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #219496;
}

.add-to-cart:hover {
	background-color:#219496
}
.add-to-cart:active {
	position:relative;
	top:1px;
}

#cart {
  background-color:#61E8EB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#040404;
	font-family: Arial;
	font-size:24px;
	padding:2px 81px;
	text-decoration:none;
	text-shadow:0px 1px 0px #219496;
}

#cart:hover {
	background-color:#219496
}

#cart:active {
	position:relative;
	top:1px;
}

#more-info-item {
  border-radius:12px;
  border: 3px solid #61E8EB;
  margin: 15px;
  padding: 25;
  filter: drop-shadow(10px 10px 4px rgb(140, 136, 136));
  background-color: rgb(206, 202, 202);
  width: 60%;
  display: flex;
  flex-direction: column;
}

#more-info-item:hover{
  filter: drop-shadow(10px 10px 4px #49b6b8);
}

.more-info-body {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  padding: 25px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

#find-more-food {
  height: 50px;
  width: 250px;
}



