nav {
  background-color: #EBB92D;
  height: 160px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.logo-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Rubik', serif;
  font-size: 18pt;
}

#search-button {
  width: 95px;
  height: 25px;
  font-family: sans-serif;
  font-size: 15px;
}

#search-box {
  width: 250px;
  height: 25px;
  font-size: 35px;
}

#logo {
  font-family: 'Fredoka One', sans-serif;
  font-size: 70px;
  color: #EB1C3E;
  -webkit-text-stroke: 3px #802a2a;
}

#tag-line {
  font-family: 'Rubik', serif;
  color: black;
  font-size: 26pt;
}

.logout-button {
  background-color:#61E8EB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#040404;
	font-family:Arial;
	font-size:17px;
	padding:10px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #219496;
}

