<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/adminOrder.js"></script>


</head>
<body>
<nav>
  <span id="logo">Yoommi</span>
  <span class="tag-line">Where deliciousness lives</span>
  <span><button type="submit" class="confirm">Logout</button></span>
</nav>
<div class="main">
  <!-- customer order confirmation ---->
<article class="center">
  <header>
    <span class="title">Order ID</span>
    <span class="customer-name">Customer Name</span>
  </header>
  <div id="orderInfo">
    <span id="reqParam"><%= reqParam %></span>
  </div>
  <form id="notifyCustomer">
    <button type="submit" class="confirm">Notify customer</button>
  </form>
<footer class="center">
</article>
</div>
</body>
</html>
