<!DOCTYPE html>
<html lang="en">
  <%- include partials/_header.ejs %>
<body>
  <nav>
    <container class="main-nav">
    <container class="logo-tag">
      <a id="logo">Yoommi <i class="fas fa-rainbow"></i></a>
      <br>
      <a id="tag-line">Where deliciousness lives</a>
    </container>
  </nav>
  <div class="main">
    <!-- customer order confirmation ---->

    <container id="admin-order-container">

    </container>

  </div>
  <div id="orderInfo">
    <p id="reqParam"><%=reqParam%></p>
  </div>
  <form id="notifyCustomer">
    <button type="submit" class="confirm">Notify customer</button>
  </form>
<footer class="center">
</article>

</body>
</html>
