<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<body>
<nav>
  <span id="logo">Yoommi</span>
  <span class="tag-line">Where deliciousness lives</span>
  <span><button type="submit" class="confirm">Logout</button></span>
</nav>
<div class="main">
  <!-- customer order confirmation ---->
<article class="center">
  <header>
    <span class="title">Order ID</span>
    <span class="customer-name">Customer Name</span>
  </header>
  <table>
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Item</th>
        <th>Remove</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pizza</td>
        <td><button type="submit" class="confirm">Remove</button></td>
        <td>$16.99</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Burger</td>
        <td><button type="submit" class="confirm">Remove</button></td>
        <td>$12.99</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bubble Tea</td>
        <td><button type="submit" class="confirm">Remove</button></td>
        <td>$7.99</td>
      </tr>
    </tbody>
    <tfoot>
      <td>Special Instructions</td>
      <td></td>
      <td></td>
      <td><textarea placeholder="Please enter any special instructions for your order here"
        name="special-instructions"rows="5" cols="33"></textarea></td>
    </tfoot>
  </table>
<footer class="center">
  <button type="submit" class="confirm">Place Order</button>
  <span class="footer-text">Order Total: </span></footer>
</article>
</div>
</body>
</html>
