<!DOCTYPE html>
<html lang="en">
  <%- include partials/_header.ejs %>
<body>
<nav>
  <container class="main-nav">
  <container class="logo-tag">
    <a id="logo">Yoommi <i class="fas fa-rainbow"></i></a>
    <br>
    <a id="tag-line">Where deliciousness lives</a>
  </container>
  <container class ="search-bar"><label for="site-search">What are you craving?</label>
<input id="search-box" type="search" name="q"
       aria-label="Search through site content">
<button id="search-button">Search</button></container>
</container>
</nav>
<div class="body">
<container id="main-container">
  <!-- This is where menu or table content gets appended -->

  <!-- End of container for ammending -->
</container>
  </div>
</body>

</html>
