<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<body>
<nav>
  <container class="main-nav">
  <container class="logo-tag">
    <a id="logo">Yoommi</a>
    <br>
    <a id="tag-line">Where deliciousness lives</a>
  </container>
  <container class ="search-bar"><label for="site-search">What are you craving?</label>
<input id="search-box" type="search" name="q"
       aria-label="Search through site content">
<button id="search-button">Search</button></container>
</container>
</nav>
<div class="body">
<container class="menu-container">
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
  <article class="menu-item">
    <header class="menu-header">
      <span>Burger</span>
      <span>$16.99</span>
    </header>
    <footer class="menu-footer">
      <button type="submit" class="confirm">Add to cart</button>
      <button type="submit" class="confirm">More info</button>
    </footer>
  </article>
</container>

</div>
</body>
</html>
