<!DOCTYPE html>
<html lang="en">
  <%- include partials/_header.ejs %>
<body>
<nav>
  <container class="main-nav">
  <container class="logo-tag">
    <a id="logo">Yoommi <i class="fas fa-rainbow"></i></a>
    <br>
    <a id="tag-line">Where deliciousness lives</a>
  </container>
  <container class ="search-bar"><label for="site-search">What are you craving?</label>
<input id="search-box" type="search" name="q"
       aria-label="Search through site content">
<button id="search-button">Search</button></container>
</container>
</nav>
<div class="body">
<container id="main-container">
  <!-- This is where menu or table content gets appended -->
  <article class="cart-order">
    <header class="table-header">
      <span class="title">Order ID</span>
      <span class="customer-name">Customer Name</span>
    </header>
<div class="Rtable Rtable--4cols">

  <div class="Rtable-cell"><h3>Quanitity</h3></div>
  <div class="Rtable-cell"><h3>Item</h3></div>
  <div class="Rtable-cell"><h3>Remove</h3></div>
  <div class="Rtable-cell"><h3>Price</h3></div>

  <div class="Rtable-cell">1</div>
  <div class="Rtable-cell">Pizza</div>
  <div class="Rtable-cell">Botton</div>
  <div class="Rtable-cell">$18.99</div>

  <div class="Rtable-cell">1</div>
  <div class="Rtable-cell">Burger</div>
  <div class="Rtable-cell">Button</div>
  <div class="Rtable-cell">$15.99</div>

  <div class="Rtable-cell">2</div>
  <div class="Rtable-cell">Bubble Tea</div>
  <div class="Rtable-cell">Button</div>
  <div class="Rtable-cell">$7.99</div>

</div>
  <footer class="table-footer">
    <button type="submit" class="confirm">Place Order</button>
    <span class="footer-text">Order Total: </span></footer>
  </article>

  <!-- End of container for ammending -->
</container>

  </div>
</body>

</html>
