<!DOCTYPE html>
<html lang="en">
  <%- include partials/_header.ejs %>
<body>
<nav>
  <container class="main-nav">
  <container class="logo-tag">
    <a id="logo">Yoommi</a>
    <br>
    <a id="tag-line">Where deliciousness lives</a>
  </container>
  <container class ="search-bar"><label for="site-search">What are you craving?</label>
<input id="search-box" type="search" name="q"
       aria-label="Search through site content">
<button id="search-button">Search</button></container>
</container>
</nav>
<div class="body">
<container class="main-container">
  <!-- This is where menu or table content gets appended -->
  <article class="cart-order">
    <header>
      <span class="title">Order ID</span>
      <span class="customer-name">Customer Name</span>
    </header>
    <table class="item-table">
      <thead>
        <tr>
          <th scope="column">Quantity</th>
          <th scope="column">Item</th>
          <th scope="column">Remove</th>
          <th scope="column">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Pizza</td>
          <td><button type="submit" class="confirm">Remove</button></td>
          <td>$16.99</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Burger</td>
          <td><button type="submit" class="confirm">Remove</button></td>
          <td>$12.99</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bubble Tea</td>
          <td><button type="submit" class="confirm">Remove</button></td>
          <td>$7.99</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        <td>Special Instructions</td>
        <td></td>
        <td></td>
        <td><textarea placeholder="Please enter any special instructions for your order here"
          name="special-instructions"rows="5" cols="33"></textarea></td>
        </tr>
      </tfoot>
    </table>
  <footer class="center">
    <button type="submit" class="confirm">Place Order</button>
    <span class="footer-text">Order Total: </span></footer>
  </article>

  <!-- End of container for ammending -->
</container>

  </div>
</body>

</html>
