
<!-- To append to Main Container for menu screen -->
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
<article class="menu-item">
  <header class="menu-header">
    <span>Burger</span>
    <span>$16.99</span>
  </header>
  <footer class="menu-footer">
    <button type="submit" class="confirm">Add to cart</button>
    <button type="submit" class="confirm">More info</button>
  </footer>
</article>
